extends layout

block content
  // logig form or profile

  nav
    div
      label.login-label ID
      input#id(type="text", name="id")
    div
      label.login-label Password
      input#password(type="password", name="password")

  main
    